.container {
  margin: 0 auto;
  padding: 0 16px;
  min-width: 320px;
  max-width: 428px;
  background: radial-gradient(
    102% 100% at 50% 0%,
    rgba(153.29019165039062, 85.48365020751953, 255, 1),
    rgba(24, 26, 32, 1) 100%
  );
}
