.game {
  margin: 0 auto;
  padding: 0 16px;
  min-width: 320px;
  max-width: 428px;
  position: relative;
  overflow: hidden;
  /* background-image: url("../../assets/game/pattern-1x.png"),
    radial-gradient(
      102% 100% at 50% 0%,
      rgba(153, 85, 255, 1),
      rgba(24, 26, 32, 1) 100%
    );
  background-size: 444px;
  background-position: top center;
  background-repeat: no-repeat; */
}

/* @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .game {
    background-image: url("../../assets/game/pattern-2x.png"),
      radial-gradient(
        102% 100% at 50% 0%,
        rgba(153, 85, 255, 1),
        rgba(24, 26, 32, 1) 100%
      );
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .game {
    background-image: url("../../assets/game/pattern-3x.png"),
      radial-gradient(
        102% 100% at 50% 0%,
        rgba(153, 85, 255, 1),
        rgba(24, 26, 32, 1) 100%
      );
  }
} */

.purple {
  position: absolute;
  inset: 0;
  background-image: radial-gradient(
    102% 100% at 50% 0%,
    rgba(153, 85, 255, 1),
    rgba(24, 26, 32, 1) 100%
  );
  opacity: 0.5;
  z-index: -1;
}

.purpleLight {
  position: absolute;
  top: -228px;
  left: 0;
  width: 100%;
  aspect-ratio: 1.5;
  background-color: #9955ff;
  border-radius: 50%;
  filter: blur(130px);
  z-index: -1;
}

.stars {
  position: absolute;
  top: 0;
  left: 50%;
  width: 104%;
  aspect-ratio: 1;
  transform: translate(-50%, -2%);
  background-image: url("../../assets/game/pattern-1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.05;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .stars {
    background-image: url("../../assets/game/pattern-2x.png");
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .stars {
    background-image: url("../../assets/game/pattern-3x.png");
  }
}
