/* Card styles: front & back. -start- */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  border-radius: 12px;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2),
    0px 4px 8px 0px rgba(24, 26, 32, 0.3);
}

.front {
  font-size: 40px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.4);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.01),
    rgba(255, 255, 255, 0.05) 100%
  );
  backdrop-filter: blur(16px);
  cursor: pointer;
}

.back {
  position: relative;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
/* Card styles: front & back. -end- */

/* Card back-background styles. -start- */
/* Styles for card-cash background. -start- */
.cashFirstBG {
  position: absolute;
  inset: 0;
  background: rgba(24, 26, 32, 0.9);
}

.cashLight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -63%);
  width: 184%;
  height: 130%;
  background-image: url("../../assets/cards/backgrounds/light-1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: overlay;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .cashLight {
    background-image: url("../../assets/cards/backgrounds/light-2x.png");
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .cashLight {
    background-image: url("../../assets/cards/backgrounds/light-3x.png");
  }
}

.cashGreenTop {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transform: translateY(-50%);
  background: rgba(130, 224, 36, 1);
  filter: blur(14px);
}

.cashYellow {
  position: absolute;
  width: 90%;
  height: 30%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  background: rgba(250, 217, 91, 1);
  filter: blur(14px);
}

.cashGreenBottom {
  position: absolute;
  top: 108%;
  width: 50%;
  height: 40%;
  border-radius: 50%;
  background: rgba(130, 224, 36, 1);
  filter: blur(12px);
}

.cashSecondBG {
  position: absolute;
  inset: 0;
  background: rgba(130, 224, 36, 0.1);
}

.cashThirdBG {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}
/* Styles for card-cash background. -end- */

/* Styles for card-double background. -start- */
.doubleLight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184%;
  height: 130%;
  background-image: url("../../assets/cards/backgrounds/light-1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: overlay;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .doubleLight {
    background-image: url("../../assets/cards/backgrounds/light-2x.png");
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .doubleLight {
    background-image: url("../../assets/cards/backgrounds/light-3x.png");
  }
}

.doubleBlue {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: rgba(36, 99, 224, 1);
  filter: blur(18px);
}

.doubleWhite {
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 1);
  filter: blur(14px);
}

.doubleKonfetti {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170%;
  height: 170%;
  background-image: url("../../assets/cards/backgrounds/konfetti-1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: color-dodge;
  opacity: 0.5;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .doubleKonfetti {
    background-image: url("../../assets/cards/backgrounds/konfetti-2x.png");
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .doubleKonfetti {
    background-image: url("../../assets/cards/backgrounds/konfetti-3x.png");
  }
}

.doubleSecondWhite {
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 1);
  filter: blur(18px);
}

.doubleSecondBG {
  position: absolute;
  inset: 0;
  background: rgba(36, 99, 224, 0.1);
}
/* Styles for card-double background. -end- */

/* Styles for card-zero background. -start- */
.zeroLight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184%;
  height: 130%;
  background-image: url("../../assets/cards/backgrounds/light-1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: overlay;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .zeroLight {
    background-image: url("../../assets/cards/backgrounds/light-2x.png");
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .zeroLight {
    background-image: url("../../assets/cards/backgrounds/light-3x.png");
  }
}

.zeroYellowTop {
  position: absolute;
  top: -35%;
  width: 100%;
  height: 50%;
  border-radius: 50%;
  background: rgba(255, 214, 0, 1);
  filter: blur(15px);
  opacity: 0.5;
}

.zeroYellowBottom {
  position: absolute;
  top: 85%;
  width: 100%;
  height: 50%;
  border-radius: 50%;
  background: rgba(255, 214, 0, 1);
  filter: blur(15px);
  opacity: 0.5;
}

.zeroSecondBG {
  position: absolute;
  inset: 0;
  background: rgba(224, 193, 36, 0.1);
}
/* Styles for card-zero background. -end- */

/* Styles for card-stop background. -start- */
.stopLight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184%;
  height: 130%;
  background-image: url("../../assets/cards/backgrounds/light-1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .stopLight {
    background-image: url("../../assets/cards/backgrounds/light-2x.png");
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .stopLight {
    background-image: url("../../assets/cards/backgrounds/light-3x.png");
  }
}

.stopdBG {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
}
/* Styles for card-stop background. -end- */

/* Styles for card-bomb background. -start- */
.bombFirstBG {
  position: absolute;
  inset: 0;
  background: rgba(116, 21, 33, 0.9);
}

.bombLight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184%;
  height: 130%;
  background-image: url("../../assets/cards/backgrounds/light-1x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .bombLight {
    background-image: url("../../assets/cards/backgrounds/light-2x.png");
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .bombLight {
    background-image: url("../../assets/cards/backgrounds/light-3x.png");
  }
}

.bombLightOrigin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184%;
  height: 130%;
  background-image: url("../../assets/cards/backgrounds/bombLight-1x.png"),
    linear-gradient(to right, #e13030, #e13030);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .bombLightOrigin {
    background-image: url("../../assets/cards/backgrounds/bombLight-2x.png"),
      linear-gradient(to right, #e13030, #e13030);
  }
}

.bombYellow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184%;
  height: 130%;
  -webkit-mask-image: url("../../assets/cards/backgrounds/light-1x.png");
  mask-image: url("../../assets/cards/backgrounds/light-1x.png");
  background: rgba(230, 230, 16, 1);
  filter: saturate(100%) contrast(200%) brightness(100%);
  opacity: 0.3;
}

.bombRed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184%;
  height: 130%;
  -webkit-mask-image: url("../../assets/cards/backgrounds/light-1x.png");
  mask-image: url("../../assets/cards/backgrounds/light-1x.png");
  background: rgba(230, 20, 16, 1);
  filter: saturate(100%) contrast(200%) brightness(100%);
}

.bombRedSecond {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 135%;
  height: 92%;
  -webkit-mask-image: url("../../assets/cards/backgrounds/light-1x.png");
  mask-image: url("../../assets/cards/backgrounds/light-1x.png");
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background: rgba(255, 0, 0, 1);
  filter: saturate(150%) contrast(200%) brightness(100%);
}

.bombWhite {
  position: absolute;
  width: 45%;
  height: 45%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  filter: blur(5px);
  opacity: 0.7;
}
/* Styles for card-bomb background. -end- */

/* Styles for icons. -start- */
.icon-cash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 64%;
  transform: translateY(-10%);
  z-index: 10;
}

.icon-double {
  width: 63%;
  z-index: 10;
}

.icon-zero {
  width: 46%;
  z-index: 10;
}

.icon-stop {
  width: 42%;
  z-index: 10;
}

.icon-bomb {
  width: 78%;
  z-index: 10;
}
/* Styles for icons. -end- */

.amount {
  text-transform: uppercase;
}

@media screen and (min-width: 340px) {
  .back {
    font-size: 16px;
  }
}
