@value item from "../Field/styles.module.css";

/* Card styles: front & back. -start- */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  border-radius: 12px;
  box-shadow:
    inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2),
    0px 4px 8px 0px rgba(24, 26, 32, 0.3);
}

.front {
  font-size: 40px;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.4);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  cursor: pointer;
}

@supports (backdrop-filter: blur(8px)) or (-webkit-backdrop-filter: blur(8px)) {
  .front {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
}

@supports not (backdrop-filter: blur(8px)) {
  .front {
    position: relative;
    overflow: hidden;
  }

  .item .front::after {
    content: "";
    position: absolute;
    inset: -16px;
    filter: blur(18px);
    z-index: -1;
  }

  .item:nth-child(-n + 3) .front::after {
    background: linear-gradient(
      180deg,
      rgba(60, 42, 95, 1) 0%,
      rgba(56, 41, 87, 1) 100%
    );
  }

  .item:nth-child(n + 4):nth-child(-n + 6) .front::after {
    background: linear-gradient(
      180deg,
      rgba(56, 41, 87, 1) 0%,
      rgba(47, 37, 72, 1) 100%
    );
  }

  .item:nth-child(n + 7):nth-child(-n + 9) .front::after {
    background: linear-gradient(
      180deg,
      rgba(47, 37, 72, 1) 0%,
      rgba(39, 34, 57, 1) 100%
    );
  }

  .item .front::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url("../../assets/game/stars-1x.png");
    background-size: 84px 84px;
    filter: blur(8px);
    opacity: 0.5;
  }

  .item:nth-child(1) .front::before {
    background-position: 39px 33px;
  }

  .item:nth-child(2) .front::before {
    background-position: 3px -48px;
  }

  .item:nth-child(3) .front::before {
    background-position: -35px -48px;
  }

  .item:nth-child(4) .front::before {
    inset: 0 0 85px 0;
    background-position: 39px -2px;
  }

  .item:nth-child(5) .front::before {
    inset: 0 0 85px 0;
    background-position: 2px -2px;
  }

  .item:nth-child(6) .front::before {
    inset: 0 0 85px 0;
    background-position: 48px -2px;
  }

  .item:nth-child(n + 7):nth-child(-n + 9) .front::before {
    background-image: none;
  }
}

.back {
  position: relative;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
/* Card styles: front & back. -end- */

/* Card back-background styles. -start- */
/* Styles for card-cash background. -start- */
.cashFirstBG {
  position: absolute;
  inset: 0;
  background: rgba(24, 26, 32, 0.9);
}

.cashLight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -63%);
  width: 184%;
  height: 130%;
  background-image: url("../../assets/cards/backgrounds/light-1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: overlay;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .cashLight {
    background-image: url("../../assets/cards/backgrounds/light-2x.png");
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .cashLight {
    background-image: url("../../assets/cards/backgrounds/light-3x.png");
  }
}

.cashGreenTop {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transform: translateY(-50%);
  background: rgba(130, 224, 36, 1);
  filter: blur(18px);
}

.cashGreenBottom {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 40px;
  border-radius: 50%;
  background: rgba(130, 224, 36, 1);
  filter: blur(16px);
}

.cashSecondBG {
  position: absolute;
  inset: 0;
  background: rgba(130, 224, 36, 0.1);
}

.cashThirdBG {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}
/* Styles for card-cash background. -end- */

/* Styles for card-double background. -start- */
.doubleLight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184%;
  height: 130%;
  background-image: url("../../assets/cards/backgrounds/light-1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: overlay;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .doubleLight {
    background-image: url("../../assets/cards/backgrounds/light-2x.png");
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .doubleLight {
    background-image: url("../../assets/cards/backgrounds/light-3x.png");
  }
}

.doubleBlue {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: rgba(57, 115, 229, 1);
  filter: blur(18px);
}

.doubleWhite {
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 1);
  filter: blur(14px);
}

.doubleKonfetti {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170%;
  height: 170%;
  background-image: url("../../assets/cards/backgrounds/konfetti-1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: color-dodge;
  opacity: 0.5;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .doubleKonfetti {
    background-image: url("../../assets/cards/backgrounds/konfetti-2x.png");
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .doubleKonfetti {
    background-image: url("../../assets/cards/backgrounds/konfetti-3x.png");
  }
}

.doubleSecondWhite {
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 1);
  filter: blur(18px);
}

.doubleSecondBG {
  position: absolute;
  inset: 0;
  background: rgba(36, 99, 224, 0.1);
}
/* Styles for card-double background. -end- */

/* Styles for card-zero background. -start- */
.zeroLight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184%;
  height: 130%;
  background-image: url("../../assets/cards/backgrounds/light-1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: overlay;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .zeroLight {
    background-image: url("../../assets/cards/backgrounds/light-2x.png");
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .zeroLight {
    background-image: url("../../assets/cards/backgrounds/light-3x.png");
  }
}

.zeroYellowTop {
  position: absolute;
  top: -35%;
  width: 100%;
  height: 50%;
  border-radius: 50%;
  background: rgba(255, 214, 0, 1);
  filter: blur(16px);
  opacity: 0.5;
}

.zeroYellowBottom {
  position: absolute;
  top: 85%;
  width: 100%;
  height: 50%;
  border-radius: 50%;
  background: rgba(255, 214, 0, 1);
  filter: blur(16px);
  opacity: 0.5;
}

.zeroSecondBG {
  position: absolute;
  inset: 0;
  background: rgba(224, 193, 36, 0.1);
}
/* Styles for card-zero background. -end- */

/* Styles for card-stop background. -start- */
.stopLight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184%;
  height: 130%;
  background-image: url("../../assets/cards/backgrounds/light-1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .stopLight {
    background-image: url("../../assets/cards/backgrounds/light-2x.png");
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .stopLight {
    background-image: url("../../assets/cards/backgrounds/light-3x.png");
  }
}

.stopBG {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  filter: blur(8px);
}
/* Styles for card-stop background. -end- */

/* Styles for card-bomb background. -start- */
.bombLight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184%;
  height: 130%;
  background-image: url("../../assets/cards/backgrounds/bombLight-1x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .bombLight {
    background-image: url("../../assets/cards/backgrounds/bombLight-2x.png");
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .bombLight {
    background-image: url("../../assets/cards/backgrounds/bombLight-3x.png");
  }
}

.bombRed {
  position: absolute;
  inset: 0;
  background: rgba(225, 48, 48, 1);
  mix-blend-mode: overlay;
}

.bombBG {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  background: linear-gradient(
    180deg,
    rgba(66, 58, 87, 1) 0%,
    rgba(46, 42, 52, 1) 100%
  );
}

/* Styles for card-bomb background. -end- */

/* Styles for icons. -start- */
.icon-cash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 64%;
  transform: translateY(-4%);
  z-index: 10;
}

.icon-double {
  width: 63%;
  z-index: 10;
}

.icon-zero {
  width: 46%;
  z-index: 10;
}

.icon-stop {
  width: 42%;
  z-index: 10;
}

.icon-bomb {
  width: 78%;
  z-index: 10;
}
/* Styles for icons. -end- */

.amount {
  text-transform: uppercase;
}

@media screen and (min-width: 340px) {
  .back {
    font-size: 16px;
  }
}
