.section {
  padding: 33px 0 32px;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.item {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

.tip {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
