.backdrop {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.modalPosition {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  z-index: 151;
}

.modalContainer {
  margin: 0 auto;
  min-width: 320px;
  max-width: 428px;
  min-height: 100%;
  box-sizing: border-box;
}

.content {
  padding: 170px 0 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.light {
  position: absolute;
  width: 364px;
  height: 260px;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/modal/backgrounds/modal-light-1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .light {
    background-image: url("../../assets/modal/backgrounds/modal-light-2x.png");
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .light {
    background-image: url("../../assets/modal/backgrounds/modal-light-3x.png");
  }
}

.light::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  filter: blur(61px);
  z-index: -2;
}

.light::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 60px;
  border-radius: 50%;
  background: rgba(225, 48, 48, 1);
  filter: blur(15px);
  opacity: 0.8;
  z-index: -2;
}

.stopLight {
  position: absolute;
  width: 364px;
  height: 260px;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/modal/backgrounds/modal-light-1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .stopLight {
    background-image: url("../../assets/modal/backgrounds/modal-light-2x.png");
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .stopLight {
    background-image: url("../../assets/modal/backgrounds/modal-light-3x.png");
  }
}

.stopLight::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  filter: blur(61px);
  z-index: -2;
}

.bombRed {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  border-radius: 50%;
  background: rgba(225, 48, 48, 1);
  filter: blur(30px);
  -webkit-mask-image: url("../../assets/modal/backgrounds/modal-light-1x.png");
  mask-image: url("../../assets/modal/backgrounds/modal-light-1x.png");
  opacity: 0.8;
  z-index: -2;
}

.bombWhite {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  filter: blur(12px);
  opacity: 0.7;
  z-index: -1;
}

.title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: rgba(255, 230, 230, 1);
  text-shadow: 0px 0.75px 9px rgba(254, 44, 85, 1);
}

.titleOver {
  text-shadow: 0px 0.75px 9px rgba(255, 254, 255, 1);
}

.text {
  width: 275px;
  margin: 0 auto 44px;
  font-family: Inter;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.firstText {
  margin-bottom: 156px;
}

.secondText {
  margin-bottom: 24px;
}

.figure {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 43px;
}

.caption {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
}

.control {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 16px;
}

.item {
  flex-basis: calc((100% - 8px) / 2);
  height: 48px;
}

.button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;

  border: none;
  border-radius: 8px;

  font-family: Inter;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;

  color: rgba(255, 255, 255, 0.8);

  box-shadow: inset 0px -1px 4px 0px rgba(255, 255, 255, 0.1),
    inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    180deg,
    rgba(255, 88, 88, 1),
    rgba(152, 52, 52, 1) 100%
  );
}

.secondButton {
  background: linear-gradient(
    180deg,
    rgba(173, 105, 255, 1),
    rgba(103, 35, 205, 1) 100%
  );
}

.thirdButton {
  background: linear-gradient(
    180deg,
    rgba(110, 191, 29, 1),
    rgba(73, 128, 19, 1) 100%
  );
}
