.backdrop {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(16px);
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.modalPosition {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  z-index: 151;
}

.title {
  color: rgba(255, 230, 230, 1);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
