.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding: 0 20px;
}

.item {
  flex-basis: calc((100% - 16px) / 3);
  aspect-ratio: 1 / 1;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  border-radius: 12px;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2),
    0px 4px 8px 0px rgba(24, 26, 32, 0.3);
}

.front {
  font-size: 40px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.4);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.01),
    rgba(255, 255, 255, 0.05) 100%
  );
  backdrop-filter: blur(16px);
  cursor: pointer;
}

.back {
  position: relative;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.cashFirstBG {
  position: absolute;
  inset: 0;
  background: rgba(24, 26, 32, 0.9);
}

.cashSecondBG {
  position: absolute;
  inset: 0;
  background: rgba(130, 224, 36, 0.1);
}

.cashThirdBG {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}

.cashGreenUp {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transform: translateY(-50%);
  background: rgba(130, 224, 36, 1);
  filter: blur(29px);
}

.cashGreenUpYellow {
  position: absolute;
  width: 90%;
  height: 30%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  background: rgba(250, 217, 91, 1);
  filter: blur(14px);
}

.cashGreenDown {
  position: absolute;
  top: 100%;
  width: 50%;
  height: 100%;
  border-radius: 50%;
  background: rgba(130, 224, 36, 1);
  filter: blur(16px);
}

.cashLight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -63%);
  width: 184%;
  height: 130%;
  background: url(/bgfields/01cashlight.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-cash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 64%;
  transform: translateY(-10%);
  z-index: 10;
}

.icon-double {
  width: 43%;
  z-index: 10;
}

.icon-zero {
  width: 46%;
  z-index: 10;
}

.icon-stop {
  width: 42%;
  z-index: 10;
}

.icon-bomb {
  width: 78%;
  z-index: 10;
}

/* .cash {
  background-image: url(/bgfields/01cashlight.png),
    radial-gradient(circle at center, rgba(240, 240, 10, 1) 0%, transparent 70%),
      radial-gradient(
        circle at top,
        rgba(130, 224, 36, 0.8) 10%,
        transparent 50%
      ),
    radial-gradient(
      ellipse at bottom,
      rgba(130, 224, 36, 0.2) 10%,
      transparent 50%
    ),
    linear-gradient(
      180deg,
      rgba(130, 224, 36, 0.1),
      rgba(130, 224, 36, 0.1) 100%
    ),
    linear-gradient(180deg, rgba(24, 26, 32, 0.8), rgba(24, 26, 32, 0.8) 100%);
  background-position: center 100%;
  background-size: 185% auto;
  background-repeat: no-repeat;
} */

/* .double {
  background-image: url(/bgfields/02x2konfetti.png),
    url(/bgfields/02x2light.png),
    linear-gradient(
      180deg,
      rgba(130, 224, 36, 0.1),
      rgba(130, 224, 36, 0.1) 100%
    ),
    linear-gradient(180deg, rgba(24, 26, 32, 0.8), rgba(24, 26, 32, 0.8) 100%);
  background-position: center, center;
  background-size: 171% auto, 185% auto;
  background-repeat: no-repeat, no-repeat;
} */
/*
.double::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(57, 115, 229, 1);
  filter: blur(60px);
} */

.doubleLight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184%;
  height: 130%;
  background: url(/bgfields/02x2light.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.doubleSecondBG {
  position: absolute;
  inset: 0;
  background: rgba(36, 99, 224, 0.1);
}

.doubleBlue {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: rgba(36, 99, 224, 1);
  filter: blur(25px);
}

.doubleWhite {
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 1);
  filter: blur(14px);
}

.doubleKonfetti {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 185%;
  height: 185%;
  background: url(/bgfields/02x2konfetti.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.doubleSecondWhite {
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 1);
  filter: blur(18px);
}

/* .zero {
  background-image: url(/bgfields/03zerolight.png),
    linear-gradient(
      180deg,
      rgba(130, 224, 36, 0.1),
      rgba(130, 224, 36, 0.1) 100%
    ),
    linear-gradient(180deg, rgba(24, 26, 32, 0.8), rgba(24, 26, 32, 0.8) 100%);
  background-position: center;
  background-size: 185% auto;
  background-repeat: no-repeat;
} */

.zeroSecondBG {
  position: absolute;
  inset: 0;
  background: rgba(224, 193, 36, 0.1);
}

.zeroLight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184%;
  height: 130%;
  background: url(/bgfields/03zerolight.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}

.zeroYellowTop {
  position: absolute;
  top: -35%;
  width: 100%;
  height: 50%;
  border-radius: 50%;
  background: rgba(255, 214, 0, 1);
  filter: blur(15px);
  opacity: 0.5;
}

.zeroYellowBottom {
  position: absolute;
  top: 85%;
  width: 100%;
  height: 50%;
  border-radius: 50%;
  background: rgba(255, 214, 0, 1);
  filter: blur(15px);
  opacity: 0.5;
}

/* .bomb {
  background-image: url(/bgfields/04bomblight.png);
  background-position: center;
  background-size: 185% auto;
  background-repeat: no-repeat;
} */

.bombFirstBG {
  position: absolute;
  inset: 0;
  background: rgba(116, 21, 33, 0.9);
}

.bombLight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184%;
  height: 130%;
  background: url(/bgfields/01cashlight.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bombYellow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184%;
  height: 130%;
  -webkit-mask-image: url(/bgfields/01cashlight.png);
  mask-image: url(/bgfields/01cashlight.png);
  background: rgba(230, 230, 16, 1);
  filter: saturate(100%) contrast(200%) brightness(100%);
  opacity: 0.3;
}

.bombRed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184%;
  height: 130%;
  -webkit-mask-image: url(/bgfields/01cashlight.png);
  mask-image: url(/bgfields/01cashlight.png);
  background: rgba(230, 20, 16, 1);
  filter: saturate(100%) contrast(200%) brightness(100%);
}

.bombRedSecond {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 135%;
  height: 92%;
  -webkit-mask-image: url(/bgfields/01cashlight.png);
  mask-image: url(/bgfields/01cashlight.png);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background: rgba(255, 0, 0, 1);
  filter: saturate(150%) contrast(200%) brightness(100%);
}

.bombWhite {
  position: absolute;
  width: 45%;
  height: 45%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  filter: blur(5px);
  opacity: 0.7;
}

/* .stop {
  background-image: url(/bgfields/05stoplight.png),
    linear-gradient(
      180deg,
      rgba(130, 224, 36, 0.1),
      rgba(130, 224, 36, 0.1) 100%
    ),
    linear-gradient(180deg, rgba(24, 26, 32, 0.8), rgba(24, 26, 32, 0.8) 100%);
  background-position: center;
  background-size: 185% auto;
  background-repeat: no-repeat;
} */

.stopLight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184%;
  height: 130%;
  background: url(/bgfields/05stoplight.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.3; */
}

.stopdBG {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
}

.amount {
  text-transform: uppercase;
}

@media screen and (min-width: 340px) {
  .back {
    font-size: 16px;
  }
}
